babysetgo/__pycache__/*
base/__pycache__/*
registry/__pycache__/*
users/__pycache__/*
users/migrations/__pycache__/*
registry/migrations/__pycache__/*
registry/migrations/*
base/settings.py
**/.DS_Store
