{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Baby Set Go!</title>
    <meta name="description" content="meta-description-example">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/badge.jpg'%}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="{% static 'js/after_add.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
</head>
<body id="page-top" class="index">
    <main class="baby">
        <h3>BabySetGo!</h3>

        Your item has been added!

    </main>
</body>
</html>
