{% load i18n %}
{% load static %}
          <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Baby Set Go!</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#registry">Registry</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Start Now</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                  {% if user.is_authenticated %}
                      <li class="logout">
                          <div id="over_user" class="configuration_active"></div>
                          <a id="id_logout" class="logout_button" href="{% url 'logout' %}" title="Logout">{% trans "Logout" %}</a>
                          <div id="configuration_menu" class="configuration_menu arrow_box hidden">
                              <ul>
                                  <a id="id_personal_menu_1" href="#"><li class="divider">{% trans 'Personal menu #1' %}</li></a>
                                  <a id="id_personal_menu_2" href="#"><li>{% trans 'Personal menu #2' %}</li></a>
                              </ul>
                          </div>
                      </li>
                  {% else %}
                      <li>
                          <a id="id_registration" href="{% url 'registration_register' %}" class="">{% trans "Register" %}</a>
                      </li>
                      <li>
                            {% if not "/login" in request.path %}
                                <a id="id_login" data-toggle="modal" data-target="#modal-login" {%  if '/accounts' in request.path %}  class="" href="#"
                            {% else %}
                                class="login-no-registert" href="#"{% endif %} role="button">{% trans "Login" %}</a></li>
                            {% endif %}
                  {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</div>
</div>