header {
  font-family: 'Raleway', sans-serif;
  /*background: #ade4cd;*/
  background: url("/static/images/clouds-background-mint.png") no-repeat center;
  background-size: 100% 100%;
}

header img {
  animation-name: plane;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* The animation code */
@keyframes plane {
    0%   {padding-top:50px; padding-bottom: 0px;}
    50%  {padding-top:0px; padding-bottom: 50px;}
    100% {padding-top:50px; padding-bottom: 0px;}
}

.text-color-blue{
  color: #527E9F;
}

.text-color-pink{
  color: #DD6A8D;
}

.text-color-orange{
  color: #F89C77;
}

.navbar-brand{
  font-family: 'Bubbler One', sans-serif;
}

.navbar-nav{
  font-family: 'Bubbler One', sans-serif;
  font-size: 1.5em;
}

.registry-icon{
  font-size: 7em;
  text-align: center;
}

.registry-item{
  text-align: center;
  margin-top: 10px;
}

.registry-item p{
  margin: 0px 20px;
  margin-top: 20px;
  font-size: 1.5em;
}

.jumbotron {
  background-color: #ade4cd;
  text-align: center;
}

.inner-section {
  padding-left: 150px;
  padding-right: 150px;
}

@media (min-width: 768px) {
  .inner-section {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (min-width: 768px) {
  .inner-section {
    padding-left: 200px;
    padding-right: 200px;
  }
}

#modal-login {
  width: 247px;
  overflow: visible !important;
}

#modal-login .white_pointer {
  position: absolute;
  height: 0;
  width: 0;
  top: -15px;
  right: 35px;
  border: 8px solid transparent;
  border-bottom: 8px solid white;
}

#modal-login .modal-content {
  position: relative;
  border-radius: 2px;
  background-color: #fafafa;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

#modal-login .modal-content .modal-footer {
  text-align: center;
}

#modal-login .modal-content .modal-footer::after {
  padding-bottom: 1em;
}

#modal-login .modal-content .modal-footer .modal-information-message {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #78909C;
  padding-bottom: 13px;
  text-align: center;
  margin-bottom: 13px;
  text-transform: uppercase;
}

#modal-login .modal-content .modal-footer a {
  padding: 12px 45px;
  background-color: #527E9F;
  font-weight: bold;
  color: white;
  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s ease;
  background-color: white;
  color: #2b334a;
  border: 1px solid #2b334a;
  border-radius: 2px;
  margin-bottom: 9px;
}

#modal-login .modal-content .modal-footer a:hover {
  background-color: #ff388b;
}

#modal-login .modal-content .modal-body form label {
  display: block;
  margin-top: 17px;
}

#modal-login .modal-content .modal-body form label:last-child {
  margin-top: 35px;
}

#modal-login .modal-content .modal-body form input {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  padding-left: 12px;
  border: 1px solid #cfd8dc;
}

#modal-login .modal-content .modal-body form input[type='submit'] {
  padding: 4px 10px;
  background-color: #527E9F;
  font-weight: bold;
  color: white;
  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s ease;
  margin-top: 32px;
}

#modal-login .modal-content .modal-body form input[type='submit']:hover {
  background-color: #ff388b;
}

#modal-login .modal-content .modal-body form a {
  color: #D81B60;
  font-size: 14px;
  margin-top: 19px;
  text-decoration: none;
  display: block;
  text-align: center;
}