header {
  font-family: 'Raleway', sans-serif;
  /*background: #ade4cd;*/
  background: url("/static/images/clouds-background-mint.png") no-repeat center;
  background-size: 100% 100%;
}

header img {
  animation-name: plane;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* The animation code */
@keyframes plane {
    0%   {padding-top:50px; padding-bottom: 0px;}
    50%  {padding-top:0px; padding-bottom: 50px;}
    100% {padding-top:50px; padding-bottom: 0px;}
}

.text-color-blue{
  color: #527E9F;
}

.text-color-pink{
  color: #DD6A8D;
}

.text-color-orange{
  color: #F89C77;
}

.text-color-green{
  color: #ade4ad;
}

.text-color-gray{
  color: #aaaaaa;
}

.text-color-white{
  color: #ffffff;
}

.background-color-blue{
  color: white !important;
  background-color: #527E9F !important;
}

.background-color-pink{
  color: white !important;
  background-color: #DD6A8D !important;
}

.background-color-orange{
  color: white !important;
  background-color: #F89C77 !important;
}

.background-color-green{
  color: black !important;
  background-color: #ade4cd !important;
}

.navbar-brand{
  font-family: 'Bubbler One', sans-serif;
}

.navbar-nav{
  font-family: 'Bubbler One', sans-serif;
  font-size: 1.5em;
}

.registry-icon{
  font-size: 7em;
  text-align: center;
}

.registry-item{
  text-align: center;
  margin-top: 40px;
}

.registry-item p{
  margin: 0px 20px;
  margin-top: 20px;
  font-size: 1.1em;
}

.registry-text{
  text-align: center;
  margin-top: 0px;
}

.registry-text p{
  margin: 0px 20px;
  margin-top: 10px;
  font-size: 1.5em;
}

.jumbotron {
  background-color: #ade4cd;
  text-align: center;
  background-image: url("/static/images/airplane2_transparent.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 90% center;
}

.inner-section {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .inner-section {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (min-width: 768px) {
  .inner-section {
    padding-left: 200px;
    padding-right: 200px;
  }
}

#modal-login {
  width: 247px;
  overflow: visible !important;
}

#modal-login .white_pointer {
  position: absolute;
  height: 0;
  width: 0;
  top: -15px;
  right: 35px;
  border: 8px solid transparent;
  border-bottom: 8px solid white;
}

#modal-login .modal-content {
  position: relative;
  border-radius: 2px;
  background-color: #fafafa;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

#modal-login .modal-content .modal-footer {
  text-align: center;
}

#modal-login .modal-content .modal-footer::after {
  padding-bottom: 1em;
}

#modal-login .modal-content .modal-footer .modal-information-message {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #78909C;
  padding-bottom: 13px;
  text-align: center;
  margin-bottom: 13px;
  text-transform: uppercase;
}

#modal-login .modal-content .modal-footer a {
  padding: 12px 45px;
  background-color: #527E9F;
  font-weight: bold;
  color: white;
  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s ease;
  background-color: white;
  color: #2b334a;
  border: 1px solid #2b334a;
  border-radius: 2px;
  margin-bottom: 9px;
}

#modal-login .modal-content .modal-footer a:hover {
  background-color: #ff388b;
}

#modal-login .modal-content .modal-body form label {
  display: block;
  margin-top: 17px;
}

#modal-login .modal-content .modal-body form label:last-child {
  margin-top: 35px;
}

#modal-login .modal-content .modal-body form input {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  padding-left: 12px;
  border: 1px solid #cfd8dc;
}

#modal-login .modal-content .modal-body form input[type='submit'] {
  padding: 4px 10px;
  background-color: #527E9F;
  font-weight: bold;
  color: white;
  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s ease;
  margin-top: 32px;
}

#modal-login .modal-content .modal-body form input[type='submit']:hover {
  background-color: #ff388b;
}

#modal-login .modal-content .modal-body form a {
  color: #D81B60;
  font-size: 14px;
  margin-top: 19px;
  text-decoration: none;
  display: block;
  text-align: center;
}

#modal-instructions {
  width: 50%;
  /*overflow: visible !important;*/
  margin: auto;
  margin-top: 100px;
}

#modal-instructions .modal-content {
  position: relative;
  border-radius: 2px;
  background-color: #fafafa;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

#modal-instructions .modal-body{
  height: 30em;
  overflow-y: auto;
}

.wrapper{
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table{
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
  @media screen and (max-width: 580px){
    display: block;
  }
}

.table > .row{
  display: table-row;
  background: #f6f6f6;
  @media screen and (max-width: 580px){
    padding: 8px 0;
    display: block;
  }
}

.table > .row:nth-of-type(odd){
  background: #e9e9e9;
}

.table > .row.header{
  font-family: 'Bubbler One', sans-serif;
  font-weight: 900;
  color: #ffffff;
  background: #F89C77;
}

.table > .row.green{
  background: #27ae60;
}
.table > .row.blue{
  background: #527E9F;
}

.table > .row.total{
  /*font-weight: bold;*/
}

.cell{
  padding: 6px 12px;
  display: table-cell;
  @media screen and (max-width: 580px){
    padding: 2px 12px;
    display: block;
  }
}

.cart-container{
  padding-top: 100px;
}

/* progress bar */
.progressbar {
  margin: 0;
  padding: 0;
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 33%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
  background-color: white;
}
.progressbar li:before {
  position: relative;
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 27px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: 0;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}

.payment-info {
  width: 100%;
  height: 300px;
  padding: 0px 5px;
  border: 1px solid rgba(0,0,0,0.25);
}

.number-col {
  text-align: right;
}