{% extends 'baby/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="lists-wrapper">
    <div class="jumbotron">
        <h1>FAQs</h1>
    </div>
    <div class="container">
        <div class="">
            <div class="">
                <ol>
                <h3><li>What is Baby Set Go?</h3><p>
                    Baby Set Go is an online baby gift registry. You can create a registry for you and your baby (or for any loved one) and include gift items from any online Philippine store.
                    </p>
                </li>
                <h3><li>Is creating a registry with Baby Set Go! Free of charge?</h3><p>
                    Absolutely! ☺</p>
                </li>
                <h3><li>How can my guests view my registry?</h3><p>
                    Guests can search for your registry through the “search registries” page or you can send the link of your registry to them. You can also publish your registry online by posting the link!</p>
                </li>
                <h3><li>What items can I include in my registry?</h3><p>
                    You can include items from any online Philippine store, including our in-house Baby Set Go! Shop ☺</p>
                </li>
                <h3><li>How can my guests buy gifts from my registry?</h3><p>
                    Guests who would like to purchase a gift can simply click on the item on your registry page. They will automatically be directed to the online store and they can purchase it from there. Easy isn’t it?</p>
                </li>
                <h3><li>How will I receive my gifts? </h3><p>
                    The process is like any online purchase: the store will be delivering the gift right at your doorstep!</p>
                </li>
                <h3><li>Can I create a registry even if I am outside Metro Manila?</h3><p>
                    Yes! Just as long as the store you pick your gifts from delivers to your address, you’re all good!</p>
                </li>
                <h3><li>Can guests buy multiple gifts?</h3><p>
                    Of course! ☺ </p>
                </li>
                <h3><li>What additional charges apply?</h3><p>
                    Baby Set Go! Will not charge any additional fee when your guests buy through the site. ☺</p>
                </li>
                <h3><li>What are partner stores?</h3><p>
                    Partner stores are sellers and brands that we trust, and those that carry items that we know are important in creating baby registries.</p>
                </li>
                <h3><li>A guest bought a gift on the day of my event, will it still be delivered then?</h3><p>
                    It all depends on the shipping policies of the stores you choose. However, it usually takes a store 2-3 working days before they are able to deliver an item. ☺</p>
                </li>
            </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}
