{% extends 'baby/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="lists-wrapper">
    <div class="jumbotron">
        <h1>FAQs</h1>
    </div>
    <div class="container">
        <div class="">
            <div class="">
                <ol>
                <h3><li>What is Baby Set Go?</h3><p>
                    Baby Set Go is an online baby gift registry. You can create a registry for you and your baby (or for any loved one) and include gift items from any online Philippine store.
                    How can my guests view my registry?
                    Guests can search for your registry through the “search registries” page or you can send the link of your registry to them. You can also publish your resgitry online by posting the link!</p>
                </li>
                <h3><li>What items can I include in my registry?</h3><p>
                    You can include items from any online Philippine store
                    How can my guests buy gifts from my registry?
                    Guests can purchase gifts directly through the Baby Set Go website. The process is the same as purchasing from an online store. ☺ Just click on the item, proceed to checkout, and then to payment! ☺</p>
                </li>
                <h3><li>How will I receive my gifts?</h3><p>
                    The Baby Set Go team will get the gifts from the stores for you and deliver the gifts purchased online directly to you to your chosen venue: either home or party venue. ☺ No need for the guests to go to the physical store to get you your gift!</p>
                </li>
                <h3><li>Does Baby Set Go provide wrapping?</h3><p>
                    Yes, we do! Guests can also send a short message (they can type it through the website).</p>
                </li>
                <h3><li>What if my chosen registry item is unavailable at the store?</h3><p>
                    Baby Set Go regularly checks availability of items at the store, but sometimes they will become unavailable due to demand. We will inform you as soon as we can if the gift will be unavailable.</p>
                </li>
                <h3><li>Do you deliver outside Metro Manila?</h3><p>
                    Unfortunately, no. We only deliver inside Metro Manila </p>
                </li>
                <h3><li>Can guests buy multiple gifts?</h3><p>
                    Of course! ☺ </p>
                </li>
                <h3><li>What additional charges apply?</h3><p>
                    A service fee and convenience fee (for those who will be using credit card for payment) will be applied and will reflect on your final bill before payment</p>
                </li>
                <h3><li>What are partner stores and do we get perks if we include items from them?</h3><p>
                    Partner stores are sellers and brands that we trust, and those that carry items that we know are important in creating baby registries. There will be a discounted service fee for gifts purchased from partner stores. ☺ </p>
                </li>
                <h3><li>A guest bought a gift on the day of my event, will it still be delivered then?</h3><p>
                We need at least 3 days lead time in order to get your gift from the store to your preferred delivery address. So any gift purchased after this cutoff will be delivered a week after the registry closes. ☺</p>
                </li>
            </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}
