{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="lists-wrapper">
    <div class="contact-main jumbotron">
        <h1>My Registries</h1>
        <a href="/registry/add/">
            <button class="col-centered btn btn-primary btn-xs" type="button" name="button">New Registry</button>
        </a>
        </a>
    </div>
    <div class="container">
        <ul class="list-group list-with-badges">
            {% for object in object_list %}
            <li class="list-group-item">{{ object.name }}<span class="badge">{{ object.event_date }}</span></li>
            {% endfor %}

        </ul>
    </div>

    <div class="container">
        <div class="list-group django-list">
            {% for object in object_list %}
            <a href="/registry/registry/detail/{{ object.slug }}/" class="list-group-item">
                <h4 class="list-group-item-heading">{{ object.name }}</h4>
                <span class="badge">{{ object.event_date }}</span>
                <p class="list-group-item-text">{{ object.event_description }}</p>
            </a>
            {% endfor %}
        </div>


        <div class="container">
            <div class="list-group django-list">
                {% for object in object_list %}
                <a href="/registry/registry/detail/{{ object.slug }}/" class="list-group-item row">
                    <div class="img-separator col-md-1">
                        <img width='40' height='45' class="img-circle" src="{% static 'images/header_bg.jpg'%}" alt="" />
                    </div>
                    <div class="text-separator col-md-11">
                        <h4 class="list-group-item-heading">{{ object.name }} - {{ object.event_date }}</h4>
                        <!-- <h5 class="list-group-item-text">{{ object.event_date }}</h5> -->
                        <p class="list-group-item-text">{{ object.event_description }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

    <div class="ui modal syncProfile">
        <i class="close icon"></i>
        <div class="header">
            Confirm Action <span class="header-sub">- No Local Patient Profile Record</span>
        </div>
        <div class="image content">
            <div class="syncProfile description">
                A description can appear on the right
            </div>
        </div>
        <div class="actions">
            <div class="ui button" id="cancel">Cancel</div>
            <a class="ui button sync-profile">Request Access and Sync</a>
        </div>
    </div>
{% endblock content %}
