{% extends 'baby/base.html' %}
{% load static %}
{% load i18n %}
{% load carton_tags %}

{% block extra_js %}
    <script src="{% static 'js/payment.js' %}"></script>
{% endblock extra_js %}

{% block content %}

<div class="container">
    <div class="cart-container">
        <div class="panel card panel-default">
            <div class="panel-heading background-color-green">
                <h1>Transaction Done!</h1>
            </div>
            <div class="panel-body">
                <br>
                <div class='row'>
                    <ul class="progressbar">
                        <li>Information</li>
                        <li>Choose Payment</li>
                        <li class="active">Transaction Done</li>
                    </ul>
                </div>
                <br>
                {% if error_msg %}
                <p class="text-color-pink">{{ error_msg }}</p>
                <br>
                {% endif %}
                <div class="col-md-8">
                    {% if payment_option == 1 %}
                    <h4>Thank you for using Baby Set Go!</h4>
                    Please be reminded of the bank deposit process:
                    <ol>
                        <li>Deposit payment to:</li>
                        <li>The item will be reserved to you for 48 hours (2 days).</li>
                        <li>Send a picture or scanned copy of the deposit slip to any of the following: 
                            <ul>
                                <li>Email to info@babysetgo.ph</li>
                                <li>Viber to +63917XXXXXXX</li>
                                <li>FB Messenger to Baby Set Go FB page</li>
                            </ul>
                        </li>
                    </ol>

                    We have also sent an email to you to track this transaction.
                    <br>
                    <a href="{% url 'home' %}" class="col-centered btn btn-primary edit-button" type="button">Return to Home</a>
                    {% elif payment_option == 2%}
                    {% endif %}
                </div>
                {% get_cart as cart %}
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}