{% extends 'baby/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container">
    <!-- <div class="jumbotron">
        <h1>{% trans "Welcome " %}{{ request.user.first_name}}</h1>
    </div> -->
    <div class="row row-centered home-cards">
        <div class="panel card panel-default">
<!--             <div class="panel-heading">
                <img class="img-responsive center-block" src="{% static 'images/header_bg.jpg' %}" alt="" />
            </div> -->
            <div class="panel-body">
                <h1>{{ object.name }}<a href="#"></a></h1>  
                <h3>Event Date: {{ object.event_date }}</h3>
                <p>
                    {{ object.event_description }}
                </p>
                <!--h3><a href="javascript:(function(d){var js = document.createElement('script');js.src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js';document.head.appendChild(js);var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://localhost:8000/static/js/babysetgo-add-items.js?v='+parseInt(Math.random()*99999999);s.id='babysetgo';s.setAttribute('reg_id',{{object.id}});d.body.appendChild(s);var c=d.createElement('link');c.type='text/css';c.rel='stylesheet';c.href='https://localhost:8000/static/css/modal.css';d.body.appendChild(c);}(document));" class="col-centered btn btn-primary">Add to Bookmark</a></h3-->
                <h3><a href="javascript:(function(d){var js = document.createElement('script');js.src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js';document.head.appendChild(js);var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='//{{request.get_host}}{% static 'js/babysetgo-add-items.js' %}?v='+parseInt(Math.random()*99999999);s.id='babysetgo';s.setAttribute('reg_id',{{object.id}});d.body.appendChild(s);var c=d.createElement('link');c.type='text/css';c.rel='stylesheet';c.href='//{{request.get_host}}{% static 'css/modal.css' %}';d.body.appendChild(c);}(document));" class="col-centered btn btn-primary">Add to BSG</a>
                <button class="col-centered btn btn-warning" data-toggle="modal" data-target="#modal-instructions">Instructions</button>
                </h3>

                <div class="list-group django-list">
                    {% for item in object.registryitem_set.all %}
                    <div class="list-group-item row">
                        <div class="img-separator col-md-3">
                            <img style='max-width:100%;max-height:100%;' class="" src="{{ item.img_url }}" alt="" />
                        </div>
                        <div class="text-separator col-md-9">
                            <h4 class="list-group-item-heading">{{ item.name }}</h4>
                            <h5 class="list-group-item-text">Price: {{ item.price_from_vendor }}</h5>
                            <h5 class="list-group-item-text">Quantity: {{ item.quantity }}</h5>
                            <h5 class="list-group-item-text">Notes: <br>{{ item.item_notes }}</h5>
                            {% if item.bought == 1 %}
                                <h5 class="list-group-item-text"><br>{{ item.quantity_bought }} / {{ item.quantity }}&nbsp has been purchased.</h5>
                                <h5 class="list-group-item-text"><br>Purchased by: &nbsp {{ item.bought_by }}</h5>
                            {% else %}
                                <h5 class="list-group-item-text"><br>This item has not been purchased yet.</h5>
                            {% endif %}
                            <a href="{{ item.item_url }}" class="col-centered btn btn-info">See Item</a>
                            <input class="item-id" type=hidden name="item-id" value="{{ item.id }}"></input>
                            <a href="{% url 'registry_registryitem_delete' object.id %}?item_id={{ item.id }}" class="col-centered btn btn-danger delete-button" type="button">Delete</a>
                            <a href="{% url 'registry_registryitem_update' item.id %}" class="col-centered btn btn-primary edit-button" type="button">Edit</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- <div class="panel-footer row-centered">
                <button class="col-centered btn btn-danger btn-lg" type="button" name="button">Cancel</button>
                <button class="col-centered btn btn-primary btn-lg" type="button" name="button">Ok</button>
            </div> -->
        </div>
    </div>
</div>

<div id="modal-instructions" class="modal fade modal-sm" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Instructions</h3>
        </div>
        <div class="modal-body">
            <span class="fa-stack fa-2x">
                <i class="fa fa-star fa-stack-2x text-color-green"></i>
                <strong class="fa-stack-1x text-color-white">1</strong>
            </span>
            Drag this button to your toolbar.
            <a href="javascript:(function(d){var js = document.createElement('script');js.src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js';document.head.appendChild(js);var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='//{{request.get_host}}{% static 'js/babysetgo-add-items.js' %}?v='+parseInt(Math.random()*99999999);s.id='babysetgo';s.setAttribute('reg_id',{{object.id}});d.body.appendChild(s);var c=d.createElement('link');c.type='text/css';c.rel='stylesheet';c.href='//{{request.get_host}}{% static 'css/modal.css' %}';d.body.appendChild(c);}(document));" class="btn btn-primary" style="font-family: 'Bubbler One', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-transform: uppercase; font-weight: 700;">Add to BSG</a>
            
            <br>
            <span class="fa-stack fa-2x">
                <i class="fa fa-star fa-stack-2x text-color-pink"></i>
                <strong class="fa-stack-1x text-color-white">2</strong>
            </span>
            Select an item from online stores.

            <br>
            <span class="fa-stack fa-2x">
                <i class="fa fa-star fa-stack-2x text-color-blue"></i>
                <strong class="fa-stack-1x text-color-white">3</strong>
            </span>
            Press the "Add to BSG" you added to your toolbar to include item to your registry.

            <br>
            <span class="fa-stack fa-2x">
                <i class="fa fa-star fa-stack-2x text-color-orange"></i>
                <strong class="fa-stack-1x text-color-white">4</strong>
            </span>
            View and organize your registry through this page.

            <br>
            <span class="fa-stack fa-2x">
                <i class="fa fa-star fa-stack-2x text-color-gray"></i>
                <strong class="fa-stack-1x text-color-white">5</strong>
            </span>
            Share your registry to family and friends through this link
            <input type=text disabled=true class="form-control" value="{{ request.get_host }}/public/registry/detail/{{ pk }}" style="margin-left:10%; width: 80%;">

            <br>
            <span class="fa-stack fa-2x">
                <i class="fa fa-star fa-stack-2x text-color-green"></i>
                <strong class="fa-stack-1x text-color-white">6</strong>
            </span>
            Have fun and enjoy the motherhood journey!

            <br><br>
            More questions? Need advice on which items to register?<br>
            Contact us now! We're here for you Mommy!
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/registry_detail.js' %}"></script>
{% endblock extra_js %}
