{% load i18n %}
{% load static %}
<img src="cid:badge-small.jpg"><br>
Hello there {{ user.username }}!
<br><br>
Thank you very much for signing up with Baby Set Go! It was so nice meeting you :) 
<br><br>
We have created an account for you. You may log in through our website: www.babysetgo.ph
<br><br>
Username: {{ user.email }}
Password: {{ password }}
<br><br>
You may already change your password here: <a href="https://babysetgo.ph/accounts/password/change/">https://babysetgo.ph/accounts/password/change/</a>, and begin creating a registry for free! 
<br><br>
Should you have any questions or concerns, please do not hesitate to reach us through viber/SMS: +63917 803 4772
<br><br>
Again, thank you very much! We look forward to helping you create your registry! :)
<br><br>
Helping you on your parenthood journey, 
<br><br>
The Baby Set Go Team :)