{% extends 'base/base_temp.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="index-wrapper text-center">
    <div class="action-main jumbotron">
<!--         <h1>Baby Set Go!</h1>
        <a href="http://www.bedjango.com" class="text-center btn btn-primary btn-lg">Create a registry</a> -->
    </div>

    <div class="desktop-descriptors row row-centered icon-container inner-section">
        <div class="col-centered col-xs-12 col-sm-2 col-md-2 col-lg-2">
        </div>
        <div class="col-centered col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <p>We're coming soon!</p>
            <p>For more info, you can email us at 
                <a href="mailto:info@babysetgo.ph?Subject=Baby%20Set%20Go%20Info" target="_top"><b>info@babysetgo.ph</b><a>
            </p>
        </div>
        <div class="col-centered col-xs-12 col-sm-2 col-md-2 col-lg-2">
        </div>
        <div class="row text-center">
                <a class="btn btn-lg btn-info btn-group" href="/">Home</a>
        </div>
    </div>
</div>

{% endblock content %}
